.table_list{
  width: 640px;

   table{
    table-layout: fixed;
    border-collapse: collapse;
    width:100%;
    background:#fff;

    thead{
      th{
        color:#333;
        text-align:center;
      }
    }

    th, td{
      border:1px solid #D1D1D2;
      padding:8px;
      font-size: 15px;
    }


   }
}


@media (max-width:768px){
  .table_list{
    width: 100%;
    max-width: 100%;
    overflow:auto !important;

     table{
      table-layout:auto;
      min-width: 500px;
     }
  }
}
