<div class="table_list mt-3">
  <table *ngIf="value.length > 0">
      <thead>
          <tr>
              <th>City</th>
              <th>Time</th>
              <th>Temperature</th>
              <th>Sms Action payload</th>

          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let item of value">
              <td>{{item.name}}</td>
              <td>{{item.createdAt | date: "YYYY-MM-dd, hh:mm"}}</td>
              <td>{{item.temperature - 273.15 | number:'1.0-2'}} &#176; C</td>
              <td style="width: 250px;">{{item.smsData | json}}</td>
          </tr>

      </tbody>
  </table>
</div>
