.table_list{
  width: 640px;

   table{
    table-layout: fixed;
    border-collapse: collapse;
    width:100%;
    background:#fff;

    thead{
      th{
        color:#333;
        text-align:center;
      }
    }

    th, td{
      border:1px solid #D1D1D2;
      padding:8px;
      font-size: 15px;
    }


   }
}
